* {
  margin: 0;
  padding: 0;
}
/* .container{
    display: flex;
} */
.main {
  margin: auto;
  /* display: flex; */
  height: 100vh;
  width:100vw;
  position: relative;
  background-image: url(assets/images/bg.jpg);
  background-position: top;
  background-size: cover;

  /* background-attachment: fixed; */
}
nav {
  position: relative;
  top: 20px;
  display: flex;
  max-width: 80vw;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
img {
  position: relative;
  height: 40px;
}

select {
  height: 34px;
  width: 110px;
  color: white;
  background-color: transparent;
  border-radius: 5px;
}
option {
  text-align: center;
  color: black;
  background-color: transparent;
}

.sign {
  height: 34px;
  width: 80px;
  margin-left: 10px;
  background-color: rgb(229, 9, 20);
  border: none;
  border-radius: 5px;
  color: white;
}

.box {
  margin: 0;
  position: absolute;
  height: 100vh;
  background-color: black;
  width: 100vw;
  top: 0;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  opacity: 70%;
}
.heading {
  position: relative;
  color: white;
  z-index: 10;
  top: 150px;
  width: 100%;
}
h1,
h2,
h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-weight: 900;
  font-size: 3.5rem;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  text-align: center;
}
h2 {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  position: relative;
  top: 10px;
  font-weight: 500;
  font-size: larger;
}
h3 {
  font-size: smaller;
  position: relative;
  top: 30px;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 100%;
  font-weight: 550;
}
.mid {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
}
.start {
  width: 200px;
  margin-left: 10px;
  height: 55px;
  background-color: rgb(229, 9, 20);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: x-large;
  font-weight: 500;
}
input {
  height: 50px;
  width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.537);
  border-radius: 5px;
  color: white;
  font-size: large;
  font-style: normal;
  text-align: center;
  background-color: transparent
}
.midbox{
  height: 50px;
  width: 100vw;
  background:  radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;;
}
.items{
  background-color: black;
  width: 100vw;
  height: 100vh;
  
}
.trend{
 margin: 0;
 padding: 0;
  color: white;
 font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
 display: flex;
 position: relative;
 right: 400px;
 top: 50px;
 font-size: 25px;
 font-weight: 500;
 
}
.slc{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  position:relative;
  right: 355px;
  top: 70px;
  
}
#country{
  height: 40px;  
}
#movies{
 height: 40px;
  margin-left: 30px;
}